###############################################################
# RESOURCE FILES
###############################################################

.DS_Store

###############################################################
# RESOURCE FOLDERS
###############################################################

/node_modules
/.sass-cache
/src/assets/vendors/*
!/src/assets/vendors/bind-polyfill
/public
/tmp
/.idea

###############################################################
# SERVER FILES
###############################################################

.htaccess

###############################################################
# CONFIG FILES
###############################################################

build-config.js

###############################################################
# IGNORE
###############################################################

!.gitkeep
