###############################################################
# RESOURCE FOLDERS
###############################################################

/node_modules
/src/assets/vendors/*

###############################################################
# SERVER FILES
###############################################################

.htaccess

###############################################################
# CONFIG FILES
###############################################################

build-config.js

###############################################################
# IGNORE
###############################################################

!.gitkeep
