<div class="demoContainer">
    <h2>Seedr Boilerplate Demo</h2>

    <div class="demoSearchContainer">
        <h4>Search for a programming language</h4>
        <div class="searchView"></div>
    </div>

    <div class="demoLanguageList">
        <h4>Valid programming languages</h4>
        <ul>
            <li>Javascript</li>
            <li>C++</li>
            <li>C#</li>
            <li>Ruby</li>
            <li>Python</li>
            <li>PHP</li>
            <li>Perl</li>
            <li>Scala</li>
            <li>Java</li>
            <li>Go</li>
        </ul>
    </div>
</div>
